In [5]:
import pandas as pd

In [58]:
prds = pd.DataFrame(
    {
        'product': ['TV', 'Console', 'Guitar', 'Book', 'Apple'],
    }
)

cats = pd.DataFrame(
    {
        'category': ['Electronics', 'Instruments', 'Food'],
    }
)

links = pd.DataFrame(
    {
        'cats': [0, 0, 1, None, 2]
    }
)

In [59]:
prds.join(cats, on=links['cats']).filter(['product', 'category'])

   product     category
0       TV  Electronics
1  Console  Electronics
2   Guitar  Instruments
3     Book          NaN
4    Apple         Food